In [1]:
import numpy as np
import pandas as pd

In [2]:
gdf = pd.read_csv('./flare_fine_tuning/global_df.csv')
xdf = gdf[['dis_dist', 'dis_count']]

In [3]:
gdf

,dataset,blackbox,max_depth,neighborhood_size,min_examples,default_params,dis_dist,dis_count,plausibility
0,adult,NN,md-1,ns1000,me10,True,0.118552,0.055417,1.834643
1,adult,NN,md-1,ns1000,me1,True,0.109348,0.053542,1.869029
2,adult,NN,md-1,ns1000,me3,True,0.113240,0.055208,1.846977
3,adult,NN,md-1,ns1000,me5,True,0.111652,0.056042,1.856472
4,adult,NN,md-1,ns1500,me10,True,0.122872,0.058958,1.868193
...,...,...,...,...,...,...,...,...,...
1019,german,SVM,md5,ns2000,me5,False,0.073000,0.036500,1.216583
1020,german,SVM,md5,ns500,me10,False,0.066000,0.033000,1.216740
1021,german,SVM,md5,ns500,me1,False,0.068500,0.034250,1.212956
1022,german,SVM,md5,ns500,me3,False,0.066000,0.033000,1.210471
1023,german,SVM,md5,ns500,me5,False,0.067000,0.033500,1.214466

In [4]:
nor_df = (xdf-xdf.min())/(xdf.max()-xdf.min())

In [5]:
nor_df.sum(axis=1)

0       0.190211
1       0.174946
2       0.187553
3       0.193065
4       0.216116
          ...
1019    0.046808
1020    0.020596
1021    0.029957
1022    0.020596
1023    0.024340
Length: 1024, dtype: float64

In [6]:
gdf['score']= nor_df.sum(axis=1)

In [7]:
gdf['conf_name'] = gdf.max_depth + '_' + gdf.neighborhood_size + '_' + gdf.min_examples
gdf

,dataset,blackbox,max_depth,neighborhood_size,min_examples,default_params,dis_dist,dis_count,plausibility,score,conf_name
0,adult,NN,md-1,ns1000,me10,True,0.118552,0.055417,1.834643,0.190211,md-1_ns1000_me10
1,adult,NN,md-1,ns1000,me1,True,0.109348,0.053542,1.869029,0.174946,md-1_ns1000_me1
2,adult,NN,md-1,ns1000,me3,True,0.113240,0.055208,1.846977,0.187553,md-1_ns1000_me3
3,adult,NN,md-1,ns1000,me5,True,0.111652,0.056042,1.856472,0.193065,md-1_ns1000_me5
4,adult,NN,md-1,ns1500,me10,True,0.122872,0.058958,1.868193,0.216116,md-1_ns1500_me10
...,...,...,...,...,...,...,...,...,...,...,...
1019,german,SVM,md5,ns2000,me5,False,0.073000,0.036500,1.216583,0.046808,md5_ns2000_me5
1020,german,SVM,md5,ns500,me10,False,0.066000,0.033000,1.216740,0.020596,md5_ns500_me10
1021,german,SVM,md5,ns500,me1,False,0.068500,0.034250,1.212956,0.029957,md5_ns500_me1
1022,german,SVM,md5,ns500,me3,False,0.066000,0.033000,1.210471,0.020596,md5_ns500_me3
1023,german,SVM,md5,ns500,me5,False,0.067000,0.033500,1.214466,0.024340,md5_ns500_me5

In [18]:
# Best configuration in general
cn = gdf.groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
cn

'md3_ns1500_me1'

In [35]:
# Best configuration for NN ADULT
na = gdf[(gdf.blackbox == 'NN') & (gdf.dataset == 'adult')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
na

'md3_ns500_me1'

In [36]:
# Best configuration for NN
nc = gdf[(gdf.blackbox == 'NN') & (gdf.dataset == 'compas')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
nc

'md-1_ns500_me1'

In [37]:
# Best configuration for NN
ng = gdf[(gdf.blackbox == 'NN') & (gdf.dataset == 'german')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
ng

'md3_ns500_me10'

In [39]:
# Best configuration for NN
nf = gdf[(gdf.blackbox == 'NN') & (gdf.dataset == 'fico')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
nf

'md4_ns1500_me10'

In [40]:
# Best configuration for NN
sa = gdf[(gdf.blackbox == 'SVM') & (gdf.dataset == 'adult')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
sa

'md3_ns500_me5'

In [41]:
# Best configuration for NN
sc = gdf[(gdf.blackbox == 'SVM') & (gdf.dataset == 'compas')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
sc

'md3_ns500_me3'

In [42]:
# Best configuration for NN
sg = gdf[(gdf.blackbox == 'SVM') & (gdf.dataset == 'german')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
sg

'md3_ns500_me3'

In [43]:
# Best configuration for NN
sf = gdf[(gdf.blackbox == 'SVM') & (gdf.dataset == 'fico')].groupby(['conf_name']).mean().sort_values(by='score').head(1).index[0]
sf

'md4_ns2000_me5'

In [42]:
gdf[(gdf['conf_name'] == cn) & (gdf['default_params'])][['dataset', 'blackbox', 'dis_dist', 'dis_count', 'plausibility']].to_csv('./flore_fine_tuning/best_conf.csv', index=None)

In [44]:
configs = {
    ('SVM', 'adult'): sa,
    ('SVM', 'compas'): sc,
    ('SVM', 'german'): sg,
    ('SVM', 'fico'): sf,
    ('NN', 'adult'): na,
    ('NN', 'compas'): nc,
    ('NN', 'german'): ng,
    ('NN', 'fico'): nf
}

In [45]:
configs

{('SVM', 'adult'): 'md3_ns500_me5',
 ('SVM', 'compas'): 'md3_ns500_me3',
 ('SVM', 'german'): 'md3_ns500_me3',
 ('SVM', 'fico'): 'md4_ns2000_me5',
 ('NN', 'adult'): 'md3_ns500_me1',
 ('NN', 'compas'): 'md-1_ns500_me1',
 ('NN', 'german'): 'md3_ns500_me10',
 ('NN', 'fico'): 'md4_ns1500_me10'}